<% provide :title, @question.content %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1 class="alert alert-info">
        <%= @question.content %>
      </h1>
      <p>
        <%= t (".created_time"), created_time: l(@question.created_at) %>
      </p>
      <p>
        <%= t (".updated_time"), updated_time: l(@question.updated_at) %>
      </p>
      <h3><%= link_to t("title.edit"), [:edit, :admin, @category, @question] %></h3>
    </section>
  </aside>
  <aside class="col-md-6">
    <section>
      <% @answers.each do |answer| %>
        <% if answer.correct %>
          <p class="alert alert-success"><%= answer.content %></p>
        <% else %>
          <p class="alert alert-danger"><%= answer.content %></p>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
