<%= search_form_for @search, url: admin_users_path,
  html: {method: :get} do |f| %>

  <div class="field col-md-6">
    <%= f.label :name_cont, t(".name") %>
    <%= f.text_field :name_cont, class: "form-control" %>
  </div>

  <div class="field col-md-6">
    <%= f.label :email_cont, t(".email") %>
    <%= f.text_field :email_cont, class: "form-control" %>
  </div>

  <div class="field col-md-6">
    <%= f.label :created_at_gteq, t(".created_from") %>
    <%= f.date_field :created_at_gteq, class: "form-control " %>
  </div>
  <div class="field col-md-6">
    <%= f.label :created_at_lteq, t(".to") %>
    <%= f.date_field :created_at_lteq, class: "form-control" %>    
  </div>

  <div class="actions col-md-1">
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
