<% provide :title, t(".title") %>

<div class="container-fluid">
  <div class="row">
    <span><%= l @exam.created_at %></span>
    <div class="text-right">
      <%= t ".time_left" %>
      <span id="exam_time" data-timeleft="<%= @exam.time_left %>">
        <%= @exam.time_left %>
      </span>
    </div>
  </div>
  <div class="row">
    <h1><%= @exam.category.name %></h1>
  </div>
  <%= render "form" %>
  </div>
</div>
