<% provide :title, t(".title") %>
<h1><%= t ".create_exam" %></h1>
<div class="row form-inline center">
  <%= form_for @exam do |f| %>
    <%= f.select :category_id,
      options_from_collection_for_select(@categories, :id, :name), {},
        {class: "form-control"} %>
    <%= f.submit t(".submit"), class: "btn btn-primary btn-fix" %>
  <% end %>
</div>
<br />
<br />
<div class="row">
  <h1><%= t ".search" %></h1>
  <%= render "search_form" %>
</div>
<div class="row">
  <h1><%= t ".all_exams" %></h1>
  <%= render @exams %>
</div>
